.button4{
  background-color: rgb(121,82,179);
  color: white;
  border: none;
  border-radius: 3px;
  height: 35px;
  width: 100px;
  font-weight: bold;
  cursor: pointer;
}
.button4:hover{
  background-color: rgb(114, 15, 227);
}
.button5{
  background-color: white;
  color: rgb(108,117,125);
  border-style: solid;
  border-color: rgb(108,117,125);
  border-radius: 3px;
  border-width: 1px;
  height: 35px;
  width: 100px;
  font-weight: bold;
  cursor: pointer;
}

.button5:hover{
  color: white;
  background-color: rgb(108,117,125);
}