.button6{
  background-color: rgb(10,102,194);
  color: white;
  height: 30px;
  width: 200px;
  border: none;
  border-radius: 15px;
  font-weight: bold;
  cursor: pointer;
}
.button6:hover{
  background-color: rgb(84, 163, 242);
}

.button7{
  background-color: white;
  color: rgb(10,102,194);
  border-color: rgb(10,102,194);
  height: 30px;
  width: 60px;
  border-style: solid;
  border-radius: 15px;
  font-weight: bold;
  border-width: 1px;
}
.button7:hover{
  background-color: rgb(226, 240, 254);
  border-width: 2px;
}